---
import { APP_NAME } from "../config";
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{APP_NAME}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #222;
    font-family: "Inter Variable", sans-serif;
  }

  body {
    box-sizing: border-box;
    padding: 0 2rem;
  }
</style>
