---
import { CODE_EDITORS } from "../config";
---

<div>
  <h2>Available for your favorite code editors</h2>
  <div class="code-editors--grid">
    {
      CODE_EDITORS.map((editor) => (
        <div class="code-editors--item">
          <img
            src={editor.icon?.src}
            alt={editor.name}
            style={{ width: "100px", height: "100px" }}
          />
          <div
            style={{
              display: "flex",
              "flex-direction": "column",
              alignItems: "center",
              gap: "0.5rem",
            }}
          >
            <span style={{ fontSize: "1.25rem" }}>{editor.name}</span>
            <span style={{ fontSize: ".875rem" }}>{editor.addition}</span>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  .code-editors--grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  @media (max-width: 768px) {
    .code-editors--grid {
      grid-template-columns: 1fr;
    }
  }

  .code-editors--item {
    display: flex;
    flex-direction: column;
    border: 2px solid #444;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    gap: 1rem;
  }
</style>
