---
import { CODE_EDITORS } from "../config";
---

<div>
  <h2>Available for your favorite code editors</h2>
  <ul
    style={{
      display: "grid",
      "grid-template-columns": "1fr 1fr 1fr",
      gap: "1rem",
    }}
  >
    {
      CODE_EDITORS.map((editor) => (
        <li
          style={{
            display: "flex",
            "flex-direction": "column",
            border: "2px solid #444",
            padding: "2rem",
            "border-radius": "1rem",
            alignItems: "center",
            gap: "1rem",
          }}
        >
          <img
            src={editor.icon?.src}
            alt={editor.name}
            style={{ width: "100px", height: "100px" }}
          />
          <div
            style={{
              display: "flex",
              "flex-direction": "column",
              alignItems: "center",
              gap: "0.5rem",
            }}
          >
            <span style={{ fontSize: "1.25rem" }}>{editor.name}</span>
            <span style={{ fontSize: ".875rem" }}>{editor.addition}</span>
          </div>
        </li>
      ))
    }
  </ul>
</div>
