---
import { AUTHOR_NAME, AUTHOR_URL } from "../config";
---

<div>
  <footer>
    <p>
      &copy; {new Date().getFullYear()} by <a href={AUTHOR_URL}>{AUTHOR_NAME}</a
      >.
    </p>
  </footer>
</div>
