---
import { APP_DESCRIPTION, APP_NAME } from "../config";
---

<div id="container">
  <main>
    <section id="hero">
      <h1>
        {APP_NAME}
      </h1>
      <span>
        {APP_DESCRIPTION}
      </span>
    </section>
  </main>
</div>

<style>
  #container {
    height: 80%;
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 16px;

    h1 {
      font-size: 4rem;
      margin: 0;
      font-weight: 400;
    }

    span {
      font-size: 1.25rem;
    }
  }

  @media screen and (max-width: 768px) {
    #hero {
      h1 {
        font-size: 3rem;
      }

      span {
        font-size: 1rem;
      }
    }
  }
</style>
